header{  color: brown;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #f3ce6a;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    border-radius: 25px;
    a{  color: brown;
        text-decoration: none;
        box-shadow: inset 0 0 0 0 #f3ce6a;
        margin: 0 -.25rem;
        padding: 0 .25rem;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
        border-radius: 25px; 
    }
    a:hover {
        box-shadow: inset 600px 0 0 0 #ce5e0d;
        color: rgb(6, 5, 5);
    }
}